.park_desc_spaces{
    padding: 20px;
    font-size: large;
}

.image_desc{
    margin: 30px;
    width: 650px;
    height: 300px;
}

.options_desc{
    border-bottom: 2px solid lightgrey;
}

.desc_button{
    background-color: white;
    border: 2px solid white;
    padding: 3px 3px 3px 5px;
    height: 60px;
    padding: 20px;
    color: gray;
}
.desc_button_hover,
.desc_button:hover{
    background-color: lightgray;
    border-bottom: 2px solid lightgray;
    transition: all 0.1s ease-out;
    color: black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.desc_desc{
    padding: 10px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

option[value=""][disabled] {
    display: none;
}

.aside_desc_section{
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
}

.aside_desc_subsection{
    display: flex;
    flex-direction: row;
    padding: 20px 20px 0px 20px;
    justify-content: space-between;
    gap: 20px;
}
