.bg_default{
    background-color: white;
    font-family: system-ui;
    height: 890px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header_default{
    padding: 10px;
    font-size: small;
    display: flex;
    justify-content: space-between;
}

.navbar_default{
    display: flex;
    height: 60px;
    padding: 0px 30px 0px 30px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgb(255, 191, 117), rgb(255, 238, 164), rgb(255, 191, 117));
}

.navbar_group{
    height: inherit;
    display: flex;
    gap: 10px;
}

.navbar_button{
    background-color: transparent;
    border: 0;
    padding: 5px;
    min-width: 100px;
    height: inherit;
    font-family: system-ui;
    font-weight: bold;
    font-size: large;
    transition: ease-out 0.2s all;
}

.navbar_button:hover{
    background-color: white;
    border-radius: 10px;

}

.content_default{
    display: flex;
    padding: 30px;
    justify-content: center;
    gap: 5%;
}

.image{
    display: flex;
    max-width: 420px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px black solid;
}


.select {
    position: relative;
    display: block;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: medium;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: 0.25rem;
    appearance: none;
}

.checkbox{
    border-radius: 3px;
    background-color: transparent;
    border: 2px solid rgb(255, 191, 73);
    width: 20px;
    height: 20px;
    appearance: none;
}
.checkbox:checked{
    border-radius: 3px;
    border: none;
    background-color: rgb(255, 202, 103);
    appearance: none;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'%3E%3Cline x1='18' x2='10' y1='8' y2='17' vector-effect='non-scaling-stroke'/%3E%3Cline x1='10' x2='6' y1='17' y2='12' vector-effect='non-scaling-stroke'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
}
.checkbox_label{
    display: flex;
    align-items: center;
    gap: 10px;
}







button{
    font-family: system-ui;
    font-weight: bold;
    font-size: medium;
}
.default:hover,
.contrast{
    background-color: white;
    border: 2px solid rgb(255, 202, 103);
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    min-width: 100px;
    font-family: system-ui;
    font-weight: bold;
    font-size: medium;
}
.default,
.contrast:hover{
    background-color: rgb(255, 202, 103);
    border: 2px solid rgb(255, 202, 103);
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    min-width: 100px;
    font-family: system-ui;
    font-weight: bold;
    font-size: medium;
}

























.main_fp{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_header_fp{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;
}

.park_fp{
    border-top: 1px solid gray;
    padding: 0px 20px 20px 20px;
}

.park_fp_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.park_fp_title{
    align-items: center;
    display: flex;
    gap: 10px;
    height: max-content;
}

.park_fp_spaces{
    background-color: lawngreen;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    height: max-content;
}
.park_fp_image_info{
    display: flex;
    gap: 20px;
}
.park_fp_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    min-width: 300px;
}

.park_fp_buttons{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.page_button{
    background-color: white;
    border: 2px solid white;
    transition: all 0.2s ease-out;
    padding: 3px 3px 3px 5px;
    color: gray;
}
.page_button:hover{
    border-bottom: 2px solid lightgray;
    transition: all 0.1s ease-out;
    color: black;
}

.see_details_button{
    font-weight: normal;
}

.pageNumb{
    display: flex;
    justify-content: end;
}


.aside_fp{
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
    height: fit-content;
    width: 20%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aside_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside_block_fp{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    border-top: 1px lightgrey solid;
}

