.button_pay_method{
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 7px;
}


.button_image{
    width: 150px;
    height: 90px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid rgb(255, 202, 103);
}

.button_image:hover{
    background-color: rgb(255, 202, 103);
}