.content_front_page_staff{
    display: flex;
    padding: 30px;
    justify-content: center;
    gap: 5%;
}

.front_page_staff{
    font-family: system-ui;
    background-image: linear-gradient(to top, rgb(255, 191, 117), rgb(255, 238, 164), rgb(255, 191, 117));
    height: 890px;
    display: flex;
  
    justify-content: center;
}

.whitebox_staff{
    background-color: white;
    margin: 30px;
    padding: 60px;
    min-height: 800px;
    min-width: 800px;
    height: fit-content;
    border-radius: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }