.bg_color{
    font-family: system-ui;
    background-image: linear-gradient(to top, rgb(255, 191, 117), rgb(255, 238, 164), rgb(255, 191, 117));
    background-repeat: repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whitebox{
    background-color: white;
    margin: 30px;
    padding: 60px;
    display: flex;
    min-height: 600px;
    width: 800px;
    border-radius: 30px;
    gap: 20px;
}

.login_image{
    display: flex;
    max-width: 420px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px black solid;
}











.Link{
    color: blue;
    text-decoration: underline blue;
    cursor: pointer;
}

input{
    font-family: system-ui;
    border-radius: 5px;
    padding: 10px;
    border: 1px gray solid;
    background-color: rgb(240, 240, 240);
}
input:focus{
    outline: none;
    background-color: rgb(220, 220, 220);
}

button{
    font-family: system-ui;
    font-weight: bold;
    font-size: medium;
}
.default:hover,
.contrast{
    background-color: white;
    border: 2px solid rgb(255, 202, 103);
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    min-width: 100px;
    font-family: system-ui;
    font-weight: bold;
    font-size: medium;
}
.default,
.contrast:hover{
    background-color: rgb(255, 202, 103);
    border: 2px solid rgb(255, 202, 103);
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    min-width: 100px;
    font-family: system-ui;
    font-weight: bold;
    font-size: medium;
}
















.form_login{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin-right: 15px;
    width: 100%;
}

.form_title_login{
    display: flex;
    flex-direction: column;
}

.form_content_login{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.register_label_login{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
    font-size: medium;
}

.buttons_login{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin-top: 10px;
}
