
.button{
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}


.default,
.contrast:hover{
    background-color: rgb(255, 202, 103);
    border: 2px solid rgb(255, 202, 103);
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    min-width: 100px;
    font-weight: bold;
    font-size: medium;
}


.default:hover,
.contrast{
    background-color: white;
    border: 2px solid rgb(255, 202, 103);
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    min-width: 100px;
    font-family: system-ui;
    font-weight: bold;
    font-size: medium;
}

.page_button{
    background-color: white;
    border: 2px solid white;
    transition: all 0.2s ease-out;
    padding: 3px 3px 3px 5px;
    color: gray;
}


.sex_button{
    background-color: white;
    border: 2px solid white;
    display: flex;
    border-bottom: 2px solid lightgray;
    transition: all 0.2s ease-out;
    padding: 3px 3px 3px 5px;
    color: gray;
    width: 60px;
}


.navbar_perfil_image{
    width: 90px;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: ease-out 0.1s all;
    font-size: 160%;
    gap: 10px;
}


.logo_image{
    width: 225px;
    height: 135px;
    background-color: transparent;
    border: none;
    transition: ease-out 0.1s all;
}


.navbar_button{
    background-color: transparent;
    border: 0;
    padding: 5px;
    min-width: 100px;
    height: inherit;
    font-weight: bold;
    font-size: large;
    transition: ease-out 0.2s all;
}


.navbar_image_button{
    width: fit-content;
    min-width: none;
    height: inherit;
    background-color: transparent;
    border: 0;
    border: 1px solid rgba(255, 255, 255, 0.0001);
    transition: ease-out 0.1s all;
    transform: scale(0.9,0.9);
}


.button_link_default{
    color: inherit;
    text-decoration: inherit;
}

.ditails_button{
    background-color: white;
    border: 2px solid white;
    padding: 3px 3px 3px 5px;
    height: 60px;
    padding: 20px;
    color: gray;
}

.navbar_staff_login_button,
.navbar_staff_login_button:hover{
    padding: 12px 30px;
    font-size: 130%;
}

.flex_button,
.flex_button:hover{
    display: flex;
    width: 100%;
    justify-content: center;
}






.ditails_button_selected,
.ditails_button:hover{
    background-color: lightgray;
    border-bottom: 2px solid lightgray;
    transition: all 0.1s ease-out;
    color: black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.page_button:hover{
    border-bottom: 2px solid lightgray;
    transition: all 0.1s ease-out;
    color: black;
}

.sex_button_selected,
.sex_button:hover{
    width: 60px;
    display: flex;
    border: 2px solid gray;
    border-radius: 15px;
    transition: all 0.2s ease-out;
    color: black;
}

.navbar_button:hover{
    background-color: white;
    border-radius: 15px;
}

.navbar_perfil_image:hover,
.logo_image:hover,
.navbar_image_button:hover{
    transform: scale(1.1,1.1);
}






.compressed_park_staff_filter_button,
.compressed_park_staff_filter_button:hover{
    padding: 10px;
    width: fit-content;
}