.block_image{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-out 0.1s all;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.border_radius{
    border-radius: 15px;
}

.scale:hover{
    transform: scale(1.05,1.05);
    transition: ease-out 0.1s all;
}

.image{
    max-width: 432px;
}