.compressed_park{
    border-top: 1px solid lightgray;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}


.compressed_park_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.compressed_park_title{
    align-items: center;
    display: flex;
    gap: 10px;
    height: max-content;
    margin-right: 10px;
}


.compressed_park_block_image{
    display: flex;
    max-width: 50%;
    align-items: center;
    justify-content: center;
}


.gray_label{
    color: gray;
    min-width: max-content;
}


.compressed_park_spaces{
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    height: max-content;
}

.compressed_park_spaces.green{
    background-color: lawngreen;
}
.compressed_park_spaces.orange{
    background-color: orange;
}
.compressed_park_spaces.red{
    background-color: red;
}


.compressed_park_image_info{
    display: flex;
    gap: 20px;
}


.compressed_park_info_description{
    display: flex;
}


.compressed_park_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    justify-content: space-evenly;
}


.compressed_park_buttons{
    display: flex;
    justify-content: end;
    gap: 10px;
}


.see_details_button{
    font-weight: normal;
}


.pageNumb{
    display: flex;
    justify-content: end;
}



@media screen and (max-width: 700px) {
    .compressed_park_info_description{
        display: none;
    }

    .compressed_park_image_info{
        flex-direction: column;
    }

    .compressed_park_info{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        gap: 30px;
    }
    
    .compressed_park_block_image{
        display: flex;
        width: 100%;
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }
}