.contact_display{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 0px 30px 30px 30px;
}

.contact_box{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-areas:
        "name name name c4"
        "email c1 park c4"
        "tel c2 c3 c4";
    width: calc(100% - 60px);
    grid-template-columns: 15% 27% auto 145px;
    padding: 30px;
    align-items: center;
}

.contact_info{
    display: flex;
    flex-direction: column;
}

.contact_buttons{
    display: flex;
    width: 100%;
}

.name{
    padding-bottom: 15px;
    grid-area: name;
    font-size: 130%;
}


.email{ grid-area: email; }

.park{ grid-area: park; }

.tel{ grid-area: tel; }

.c1{ grid-area: c1; }

.c2{ grid-area: c2; }

.c3{
    margin-left: 15px;
    grid-area: c3;
    font-weight: bold;
}

.c4{ 
    grid-area: c4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    width: 100%;
}



.contact_popup_list{
    display: flex;
    margin: 20px 40px;
    flex-direction: column;
    width: max-content;
    gap: 10px;
    min-width: 350px;
}

.contact_popup_list_button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}