.edit_park_container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.edit_park_fields_container{
    display: flex;
    flex-direction: column;
    width: 800px;
}

.edit_park_open_close{
    flex-direction: row;
    justify-content: space-evenly;
}

.edit_park_open,
.edit_park_close{
    padding: 8px 16px;
    border-radius: 10px;
    width: 144px;
    display: flex;
    justify-content: center;
}

.edit_park_open{
    background-color: lawngreen;
}

.edit_park_close{
    background-color: rgb(233, 85, 16);
}

.edit_park_schedule_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}


.edit_park_parking_spaces,
.edit_park_new_period{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}


.edit_park_parking_spaces{
    font-size: 90%;
}


.edit_park_input{
    font-size: medium;
    width: 100px;
}


.edit_park_title{
    font-size: larger;
}


.edit_park_container_precario,
.edit_park_percario_fields{
    display: grid;
    grid-template-columns: max-content auto;
    padding: 20px;
    gap: 10px;
    border-top: 1px lightgray solid;
    align-items: center;
}

.edit_park_container_precario{
    width: 800px;
    gap: 70px;
}


.edit_park_precario{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.edit_park_precario_title{
    font-size: larger;
}