.filter_staff_box{
    min-width: 250px;
    justify-content: space-evenly;
    border: 1px lightgrey solid;
    padding: 0px 30px 30px;
    margin: 0px 30px 30px;
    background-color: rgb(231, 231, 231);
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 15px;
}

.filter_staff_header{
    border-bottom: 1px lightgrey solid;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_staff_block_display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filter_staff_block{
    flex-direction: column;
    padding: 0px 10px;
    display: flex;
    gap: 15px;
}
