.navbar_layer{
    z-index: 5;
}

.header_default{
    padding: 10px 30px 10px 30px;
    font-size: small;
    display: flex;
    justify-content: space-between;
    background-color: white;
}


.navbar_default{
    display: flex;
    height: 60px;
    padding: 0px 30px 0px 30px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgb(255, 191, 117), rgb(255, 238, 164), rgb(255, 191, 117));
}

.navbar_default.active {
    background: #242222;
    left: 0;
    opacity: 0.95;
    z-index: 1;
}

.navbar_side_group,
.navbar_group{
    height: inherit;
    display: flex;
    gap: 10px;
}


.button_image{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}


.fa-bars {
  color: #fff;
  font-size: 30px;
}


.fa-times {
  color: #fff;
  font-size: 38px;
}


.navbar_button.side_menu.login_side_menu,
.navbar_disappearing_icon{
    display: none;
}

.navbar_qrcode{
    margin: 30px 30px;
    width: 256px;
    height: 256px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid lightgray;
}

@media screen and (max-width: 1080px) {
    .navbar_disappearing_icon{
        display: flex;
    }

    .navbar_side_group {
        position: absolute;
        margin-top: 215px;
        width: 50vw;
        height: calc(100vh - 215px);
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column-reverse;
        transition: all 0.5s ease;
        gap: 20px;
    }

    .navbar_side_group.active {
        background: #242222;
        opacity: 0.95;
        left: 0;
        z-index: 1;
    }

    .navbar_button.side_menu {
        display: flex;
        width: 100%;
        height: 70px;
        align-items: center;
        justify-content: center;
        color: white;
        margin-bottom: 30px;
    }

    .navbar_button.side_menu:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .navbar_button.side_menu.login_side_menu {
        width: 80%;
        margin-left: 10%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px white solid;
        border-radius: 15px;
    }
}